<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        
    </head>

    <body>
        
            

        </h1>

        <header>
            <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <!-- Container wrapper -->
            <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="https://mdbgo.com/">
                <img
                src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                height="16"
                alt="MDB Logo"
                loading="lazy"
                style="margin-top: -1px;"
                />
            </a>
        
            <!-- Toggle button -->
            <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
        
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                </ul>
                <!-- Left links -->
        
                <div class="d-flex align-items-center">
                <!-- <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
                    Login
                </button> -->
                
                <a href="{% url 'log' %}" class="btn btn-link px-3 me-2">log in</a>

                <a href="{% url 'logout' %}" class="btn btn-link px-3 me-2">log out</a>
                
                <!-- <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                    Sign up for free
                </button> -->
                <!-- <a
                    data-mdb-ripple-init
                    class="btn btn-dark px-3"
                    href="https://github.com/mdbootstrap/mdb-ui-kit"
                    role="button"
                    ><i class="fab fa-github"></i
                ></a> -->
                </div>
            </div>
            <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        </header>
        <h1  class="d-flex justify-content-between">
            Todo list
        </h1>
        {% if messages %}

        {% for i in messages %}

        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success">
            {{i}}
        </div>
        {% endif %}

        {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger">
            {{i}}
        </div>
        {% endif %}

        {% if i.level == DEFAULT_MESSAGE_LEVELS.WARNING  %}
        <div class="alert alert-info">
            {{i}}

        </div>
        {%endif%}

        {% endfor %}

        {% endif %}
        <h4> Welcome {{request.user.username}}</h4>
        <table class="table table-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Image</th>
                <th>d\Detailes</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.title}}</td>
                <td>{{i.description}}</td>
                <td>{{i.date}}</td>
                <td>
                    <img src="{{i.image.url}}" height="200px" width="200px" alt="">
                </td>
                <td>
                    <a href="{% url 'tdel' i.id %}" class="btn btn-success">delete</a>
                    <a href="{% url 'tedit' i.id %}" class="btn btn-success">edit</a>
                </td>
            </tr>
            {% endfor %}

        </table>
        <a href="{% url 'tadd' %}" class="btn btn-info ">ADD</a>
        
    </body>
</html>
